@font-face {
    font-family: 'Bogue'; /* Name of the font */
    src:url('fonts/Bogue.ttf') format('truetype'); /* Path to the font files */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Century Gothic'; /* Name of the font */
    src:url('fonts/Gothic.TTF') format('truetype'); /* Path to the font files */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Dubai'; /* Name of the font */
    src:url('fonts/Dubai.ttf') format('truetype'); /* Path to the font files */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MADE Dillan'; /* Name of the font */
    src:url('fonts/MADE Dillan.otf') format('opentype'); /* Path to the font files */
    font-weight: normal;
    font-style: normal;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} 

.header {
    display:flex;
    justify-content: space-between;
    margin-left:5%;
    margin-right:5%;
}
.logo{
    display:flex;
}
.logoimg {
    margin: 15px;
    max-width: 100px;
    max-height: 100px;
    position: relative;
    transition: 500ms;
}

.logoimg:hover {
    margin-left: 30px;
}
.logotext{
    align-content: center;
}
.englishlogotext {
    font-family: 'Century Gothic';
    color: #2b3c44;
    font-size: 1.6em;
    margin-bottom: 0px;
}

.arabiclogotext {
    font-family: 'Dubai';
    color: #2b3c44;
    font-size: 1.6em;
    margin-top: 0px;
}

.links{
    display: flex;
    margin-right: 20px;
    align-items: center;
}

.headerlinks{
    margin-top: -20px;
    padding-left: 30px;
    transition: 500ms;
    font-family: 'MADE Dillan';
    text-decoration: none;
    color: #2b3c44;
    font-size: 1.2em;
}

.headerlinks:hover{
    margin-top:-25px;
}

section{
    flex:1;
}

.mainsection{
    display: flex;
    justify-content: center;
    max-width: 80%;
    margin: 20px auto;
    flex: 1;
}

.mainpic {
    max-width: 40%;
    max-height: 40%;
    border-radius: 20px;
    margin: 20px;
    position:relative;
    transition: 500ms;
}

.mainpic:hover{
    transform: translateY(10px);

}

.maintext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

.hello {
        font-family: 'MADE Dillan';
    font-size: 90px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #2b3c44;
    transition: 500ms;
}

.hello:hover {
    margin-left: 10px;
}

p {
    color: #2b3c44;
}

.link-paragraph {
    font-weight: bold;
}

footer {
    position: relative;
    width: 90%;
    left:5%;
    padding-bottom: 3%;
}

.end{
    display: flex;
    justify-content: space-between;
}

.socialmedia a {
    align-items: center;
    color: #2b3c44;
    text-decoration: none;
    margin: 5px;
}

.copyright {
    font-family: 'MADE Dillan';
    color: #2b3c44;
    font-size: 14px;
}
 @media (max-width: 768px) {
    
    .mainsection {
        display: block; /* Stacks the image and text vertically */
        text-align: center; /* Optional: centers the text */
    }
    .mainpic {
        margin-left: -15px;
        margin-top:60px;
        margin-bottom: 20px; /* Adds space between the image and the text */
        max-width: 110%;
        border-radius: 360px;
        text-align: center;
    }
    .maintext {
        margin-left: 0; /* Removes the left margin for mobile */
        margin-right: 0;
        padding-bottom:20px;
    }
    .logo{
        margin-left: 30px;
        align-items:start;
        justify-content: space-between;
        max-width: 90%;
    }
    .logoimg{
        max-width: 70px;
        margin: 10px 0px;
    }
    .englishlogotext{
        margin-top:10px;
    }
    .arabiclogotext{
        margin-top: -5px;
    }
    .logotext{
        margin-top: 10px;
        margin-left: 10px;
    }

    .links{
        display: none;
    }
    .hello{
        margin-top: -30px;
        margin-bottom: 20px;
        text-align: center;
    }
    p{
        margin-top: -20px;
        margin-bottom:0px;
        margin-right:15px;
        margin-left:15px;
    }
    .end{
        display: block;
        align-items: center;
        text-align: center;
    }
    .socialmedia{
        margin:30px 10px 20px 10px;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #181a1b;
        color: #c5c0b8;
    }
    .englishlogotext{
        color: #c5c0b8;
    }
    .arabiclogotext
    {
        color: #c5c0b8;
    }
    .headerlinks{
        color: #c5c0b8;
    }
    .hello{
        color: #c5c0b8;
    }
    p{
        color: #c5c0b8;
    }
    .link-paragraph{
        color: #c5c0b8!important;
    }
    .socialmedia a{
        color: #c5c0b8;
    }
    .copyright{
        color: #c5c0b8;
    }
}
