@font-face {
    font-family: 'Bogue'; /* Name of the font */
    src:url('fonts/Bogue.ttf') format('truetype'); /* Path to the font files */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Century Gothic'; /* Name of the font */
    src:url('fonts/Gothic.TTF') format('truetype'); /* Path to the font files */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Dubai'; /* Name of the font */
    src:url('fonts/Dubai.ttf') format('truetype'); /* Path to the font files */
    font-weight: normal;
    font-style: normal;
}
.mainsection{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mainpic{
    max-width: 40%;
    max-height: 50%;
    border-radius: 20px;
    margin: 20px;
}
.maintext{
    margin-left: 20px;
    margin-right: 20px;
}
.hello{
font-family: 'Bogue';font-size: 3.5em;text-align: center;
}

@media (max-width: 768px) {
    .mainsection {
        display: block; /* Stacks the image and text vertically */
        text-align: center; /* Optional: centers the text */
    }
    .mainpic {
        margin-bottom: 20px; /* Adds space between the image and the text */
        max-width: 90%;
    }
    .maintext {
        margin-left: 0; /* Removes the left margin for mobile */
        margin-right: 0;
    }
    .logo{
        display: inline;
        margin-left: 0;
        max-width:100%;
    }
    .links{
        display: none;
    }
    .hello{
        margin-top: -10px;
    }
    p{
        margin-top: -30px;
    }
}
